.Input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem/* 24px */;
    margin-bottom: 1.5rem/* 24px */;
    margin-left:2rem;
}

.content{
    display: flex;
    flex-direction: row;
    width: 75%;
    align-items: center;
    align-items: center

}
.space-x-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.input-type{
    font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
    font-weight: 300;
    padding: 0.5rem/* 8px */;
    width: 100%;
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    text-transform: capitalize;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.Icon{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    cursor: pointer;
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.Conversion{
    display: flex;
    flex-direction: row;
    width: 25%;
    align-items: center;
    justify-content: center;
}
